redis:
  url: redis://localhost:6379/0
  max_open_connection: 10
  max_idle_connection: 2
  max_conn_lifetime: 900
  idle_conn_timeout: 300
database:
  url: postgres://postgres:postgres@localhost:5432/postgres?sslmode=disable
  pool_size: 10
  verbose: false
server:
  listen_addr: 0.0.0.0:8080
alchemy:
  - blockchain: ethereum
    network: "1"
    api_key: 
  - blockchain: ethereum
    network: "5"
    api_key: 
  - blockchain: ethereum
    network: "137"
    api_key:
  - blockchain: ethereum
    network: "80001"
    api_key: 
