redis:
  server: localhost:6379
  database: "0"
  max_open_connection: 10
  max_idle_connection: 2
  max_conn_lifetime: 900
  idle_conn_timeout: 300
database:
  url: postgres://postgres:postgres@localhost:5432/postgres?sslmode=disable
  pool_size: 10
  verbose: false
worker:
  collection_queue_name: nft_collection
  transfer_queue_name: nft_transfer
server:
  listen_addr: 0.0.0.0:8080
alchemy:
  - blockchain: ethereum
    network: mainnet
    endpoint: https://eth-mainnet.g.alchemy.com
    api_key:
